[submodule "modules/lke"]
	path = modules/lke
	url = https://github.com/johnybradshaw/acc-lke
[submodule "modules/lke-networking"]
	path = modules/lke-networking
	url = https://github.com/johnybradshaw/acc-lke-networking.git
[submodule "modules/lke-helm"]
	path = modules/lke-helm
	url = https://github.com/johnybradshaw/acc-lke-helm.git
